@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    40% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8) ;
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    40% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    80% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing2 {
    0% {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }

    40% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    80% {
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        transform: scale(0.6);
    }

    100% {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@keyframes zoomout {
    0% {
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        transform: scale(0.2);
    }

    100% {
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        transform: scale(0.2);
    }
}

@keyframes glow {
    0% {
        box-shadow: rgba(255, 255, 255, 1) 0px 0px 0px;
    }

    50% {
        box-shadow: rgba(255, 255, 255, 1) 0px 0px 15px;
    }

    100% {
        box-shadow: rgba(255, 255, 255, 1) 0px 0px 0px;
    }
}

@keyframes glow2 {
    0% {
        box-shadow: rgba(255, 255, 255, .5) 0px 0px 0px;
    }

    50% {
        box-shadow: rgba(255, 255, 255, 1) 0px 0px 20px;
    }

    100% {
        box-shadow: rgba(255, 255, 255, .5) 0px 0px 0px;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}